@use "node_modules/bootstrap/scss/bootstrap" as *;

@include media-breakpoint-up(lg){
  .cvPhoto{
    border:15px solid red;
  }
}


body{
  color-scheme: dark;
}

.totalDiv{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.leftBar{
  width: 15%;
  height: 100%;
  background-color: forestgreen;
  text-align: center;
}

.main{
  width: 85%;
  height: 100%;
  background-color: bisque;
  text-align: center;
}

.leftBar,
.main,
.cvPhoto{
  margin:1%;
}

.cvPhoto{
  width: 65%;
}

.darkTheme{
  background-color: #333;
  color: #f4f4f4;
}
.darkTheme a{
  color:#9bd;
}