#icon {
    text-align: center;
    font-size: 15px;
    padding-right: 2px;
    box-sizing: border-box;
    color: rgb(227, 183, 30);
}

* {
    scrollbar-width: none;
}

h1 {
    color: rgb(18, 18, 18);
}

h2 {
    padding: 10px;
    color: rgb(151, 151, 151);
}

h3 {
    color: rgb(60, 60, 60);
    margin: 1%;
}

a {
    text-decoration: none;
    text-align: center;
}

p {
    font-size: 75%;
    color: rgb(155, 155, 155);
    margin: 15px;
    text-align: center;
}

video {
    width: 100%;
}

button {
    cursor: pointer;
}

svg {
    width: 48px;
    height: 48px;
    fill: rgb(251, 255, 0);
}

.bold {
    font-weight: bolder;
}

.borderRecommend {
    border: 5px dashed rgb(227, 183, 30);
}

.border {
    border: 1px solid rgb(227, 183, 30);
}

.recommend {
    text-shadow: 0px 5px 10px rgb(155, 155, 155);
}

* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
    color-scheme: dark;
}

header {
    height: 30px;
    background-color: rgb(60, 60, 60);
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    text-align: center;
    border-bottom: 4px solid rgb(227, 183, 30);
    border-top: 4px solid rgb(227, 183, 30);
    position: sticky;
    top: 0;
}

.headerTitle {
    font-size: 25px;
    color: rgb(227, 183, 30);
}

.headerLinks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.headerLink {
    padding: 5px;
    background-color: rgb(60, 60, 60);
    border: 1px solid rgb(227, 183, 30);
    color: rgb(227, 183, 30);
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 2px;
}

.gizleGoster {
    display: none;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainH2 {
    margin: 20px auto 30px auto;
    text-align: center;
}

.mainTitle {
    font-size: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.mainPhoto {
    width: 100%;
    height: 350px;
    border-bottom: 4px solid rgb(227, 183, 30);
    border-top: 4px solid rgb(227, 183, 30);
    object-fit: cover;
}

.main1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    width: 100%;
}

@media screen and (max-width:990px) {
    .main1 {
        overflow-x: auto;
    }
}

.main1Box {
    margin: 1%;
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#icon2 {
    text-align: center;
    font-size: 50px;
    padding-right: 2px;
    box-sizing: border-box;
    color: rgb(227, 183, 30);
}

.main2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 350px;
}

@media screen and (max-width:1452px) {
    .main2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 20%;
    }

    .main2Photo {
        max-width: 95%;
    }
}

.main2Photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 25% 75%;
    border-radius: 60px;
    margin: 1%;
    padding: 1%;
}

.inline {
    display: inline;
}

.main2Text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.main2A {
    margin-top: 10px;
    padding: 8px;
    background-color: rgb(60, 60, 60);
    border: 1px solid rgb(227, 183, 30);
    color: rgb(155, 155, 155);
    border-radius: 10px;
}

.main3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
    margin-bottom: 20px;
}

.main3Box {
    background-color: rgb(60, 60, 60);
    border-radius: 120px 120px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px 20px;
    padding: 50px;
    transition: transform .5s linear, box-shadow .5s linear;
}

.main3Box:hover {
    transform: translateY(-20px);
    box-shadow: 0px 20px 5px rgb(155, 155, 155);
}

@media screen and (max-width:991px) {
    .main3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 20%;
        margin: 1%;
        padding: 1%;
    }

    .main3Box {
        margin: 5%;
    }
}

.main4 {
    margin-bottom: 50px;
    width: 100%;
    height: 100px;
    background-color: rgb(227, 183, 30);
    border-top: 14px solid rgb(60, 60, 60);
    border-bottom: 14px solid rgb(60, 60, 60);
}

.main4Box,
.main4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.main5,
.main6{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5%;
}

.main5BoxImg,
.main6BoxImg{
    width: 75%;
    object-fit: contain;
}

.main5Box,
.main6Box{
    display: flex;
    flex-direction: column;
    margin: 3%;
}

.filmDiziTitle {
    font-size: 150%;
}

.filmDiziComment {
    font-size: 75%;
}

@media screen and (max-width:1011px) {
    .filmDiziTitle {
        font-size: 100%;
    }

    .filmDiziComment {
        font-size: 50%;
    }
}

@media screen and (max-width:724px) {
    .filmDiziTitle {
        font-size: 75%;
    }

    .filmDiziComment {
        font-size: 25%;
    }
}

@media screen and (max-width:581px) {
    .filmDiziTitle {
        font-size: 50%;
    }

    .filmDiziComment {
        display: none;
    }
}

.star {
    height: 20px;
    width: 20px;
}

.starScore {
    margin: 5px;
}

.divStar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 3px;
}

.fragmanDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.fragmanButton {
    margin: 15px;
}
footer {
    width: 100%;
    height: 100%;
    position: static;
    bottom: 0px;
    background-color: rgb(60, 60, 60);
}

.footerDivsDisplay {
    display: flex;
    flex-direction: row;
}

.footerMainDiv {
    justify-content: space-between;
    align-items: center;
    margin: 0 6%;
}

.footerDiv {
    color: rgb(227, 183, 30);
}