#icon {
    text-align: center;
    font-size: 15px;
    padding-right: 2px;
    box-sizing: border-box;
}

h2 {
    padding: 15px;
    color: rgb(125, 100, 60);
}

a {
    text-decoration: none;
    text-align: center;
}

p {
    font-size: 12px;
    color: rgb(125, 100, 60);
}

.bold {
    font-weight: bolder;
}

.borderRecommend {
    border: 5px dashed rgb(125, 100, 60);
}

.border {
    border: 1px solid rgb(125, 100, 60);
}

.recommend {
    text-shadow: 0px 5px 10px rgb(125, 100, 60);
}

* { 
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
}

header {
    height: 30px;
    background-color: wheat;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    text-align: center;
    border-bottom: 4px solid rgb(180, 146, 83);
    border-top: 4px solid rgb(180, 146, 83);
    position: sticky;
    top: 0;
}

.headerTitle {
    font-size: 25px;
    color: rgb(125, 100, 60);
}

.headerLinks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.headerLink {
    padding: 5px;
    background-color: #dfcaa3;
    border: 1px solid rgb(180, 146, 83);
    color: rgb(125, 100, 60);
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 2px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainH2 {
    margin: 20px auto 30px auto;
    text-align: center;
}

.mainTitle {
    font-size: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.mainPhoto {
    width: 100%;
    height: 350px;
    object-fit: cover;
    object-position: 15% 15%;
    border-bottom: 4px solid rgb(180, 146, 83);
    border-top: 4px solid rgb(180, 146, 83);
}

.main1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.main1Box {
    margin: 45px;
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#icon2 {
    text-align: center;
    font-size: 50px;
    padding-right: 2px;
    box-sizing: border-box;
    color: rgb(180, 146, 83);
}

.main2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 350px;
}

.main2Photo {
    width: 100%;
    max-width: 1050px;
    height: 100%;
    object-fit: cover;
    object-position: 15% 75%;
    border-radius: 60px;
    padding: 30px;
}

.inline {
    display: inline;
}

.main2Text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main2A {
    margin-top: 10px;
    padding: 8px;
    background-color: #dfcaa3;
    border: 1px solid rgb(180, 146, 83);
    color: rgb(121, 95, 47);
    border-radius: 10px;
}

.main3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
    margin-bottom: 20px;
    position: relative;
}

.main3Box {
    background-color: #dfcaa3;
    border-radius: 120px 120px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px 20px;
    padding: 50px;
    transition: transform .5s linear, box-shadow .5s linear;
}

.main3Box:hover {
    transform: translateY(-20px);
    box-shadow: 0px 20px 5px rgb(121, 95, 47);
}

footer {
    width: 100%;
    height: 100%;
    position: static;
    bottom: 0px;
    background-color: rgb(121, 95, 47);
}

.footerDivsDisplay {
    display: flex;
    flex-direction: row;
}

.footerMainDiv {
    justify-content: space-between;
    align-items: center;
    margin: 0 20%;
}

.footerDiv{
    color: #dfcaa3;
}

svg{
    width: 48px;
    height: 48px;
    fill: #dfcaa3;
}