body {
    font-family: "SUSE", Georgia, Times, 'Times New Roman', serif;
    width: 100%;
    height: 100vh;
    margin: 0px;
    background: url(https://cdn.mos.cms.futurecdn.net/xaycNDmeyxpHDrPqU6LmaD.jpg);
    background-position: center;
    background-size: cover;
    backdrop-filter: blur(10px) brightness(100%);
    -webkit-backdrop-filter: blur(10px) brightness(100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
}

h1 {
    font-size: 40px;
}

h1,
p {
    margin: 1rem auto;
    text-align: center;
}

/*h1:hover,
p:hover,
label:hover,
button:hover {
    -webkit-text-stroke: 0.01px white;
}*/

input[type="text"]:hover::placeholder,
input[type="email"]:hover::placeholder,
input[type="number"]:hover::placeholder,
textarea:hover::placeholder {
    color: white;
}


label,
input,
select,
textarea,
button {
    font-size: 20px;
    font-family: "SUSE", Georgia, Times, 'Times New Roman', serif;
    background-color: transparent;
    outline: none;
    border: none;
}

label:active,
input:focus,
textarea:focus,
select:focus,
button:hover,
h1:hover {
    font-size: 25px;
    transition: all 1000ms linear;
}

label:not(:active),
input:not(:focus),
select:not(:focus),
textarea:not(:focus),
button:not(:hover),
h1:not(:hover) {
    transition: all 1000ms linear;
}

textarea::placeholder,
input::placeholder,
input[type="text"],
input[type="email"],
input[type="number"],
textarea {
    width: 100%;
    color: rgba(255, 255, 255, 0.5);
}

input[type="text"],
input[type="email"],
input[type="number"],
select,
textarea {
    border-radius: 5px;
    padding: 7px;
}

select,
button {
    color: white;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.option {
    background-color: transparent;
}

input[type="radio"],
input[type="checkbox"] {
    min-width: 1rem;
    min-height: 1rem;
}

textarea {
    max-width: 100%;
    min-width: 100%;
    max-height: 125px;
    min-height: 125px;
}

#name-label,
#email-label,
#number-label,
#durum-label,
#cinsiyet-label,
#dil-label,
#detay-label {
    padding-bottom: 0.5%;
}


.mainForm {
    display: flex;
    flex-direction: column;
    text-align: start;
    padding: 20px;
    width: 100%;
    max-width: 700px;
    min-width: 250px;
    margin: 0;
    border-radius: 20px;
    background-color: rgba(180, 180, 180,0.171);
    color: rgb(255, 255, 255);
}

.mainDiv {
    display: flex;
    flex-direction: column;
}

#name-label,
#email-label,
#number-label,
#durum-label,
#cinsiyet-label,
#dil-label,
#detay-label {
    padding-bottom: 0.5%;
}

.nameDiv,
.emailDiv,
.numberDiv,
.durumDiv,
.cinsiyetDiv,
.dilDiv,
.detayDiv {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    margin-bottom: 2%;
}