@font-face {
    font-family: "Extended";
    src: url('https://statics.memondo.com/g/fonts/twitter/chirp-extended-heavy-web.woff');
}

@font-face {
    font-family: "Light";
    src: url('https://statics.memondo.com/g/fonts/twitter/Chirp-Light.7a5673aa.woff');
}

p {
    margin: 0;
}

a:link {
    text-decoration: none;
}

body {
    font-family: 'Extended', sans-serif;
    font-weight: bold;
    background-color: black;
    user-select: none;
}

.mainLR {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainLeftLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 980px;
    height: 905px;
    padding: 0px 32px 0px 0px;
    margin-left: -270px;
}

.mainLogo {
    object-fit: contain;
    width: 57%;
    padding-top: 10px;
    padding-right: 135px;
    padding-bottom: 25px;
    pointer-events: none;
}

.mainRight {
    margin-left: -36px;
    margin-bottom: -25px;
}

.mainTitleDiv {
    width: 460px;
    height: 168px;
    margin: 0 0 50px 0;
}

.mainTitle {
    font-size: 64px;
    color: rgb(231, 233, 234);
    line-height: 84px;
    letter-spacing: -1px;
}

.title {
    font-size: 31px;
    margin-bottom: 28px;
    color: rgb(231, 233, 234);
}

.linkButtonDiv {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.linkButtonGoogle,
.linkButtonApple {
    width: 300px;
    height: 40px;
    font-size: 15px;
    color: black;
    background-color: white;
    border-radius: 30px;
    margin-bottom: 10px;
    border: none;
    cursor: pointer;
    letter-spacing: 0.25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.linkButtonGoogle:hover,
.linkButtonApple:hover {
    background-color: rgba(255, 255, 255, 0.952);
}

.linkButtonApple {
    text-align: center;
    font-weight: bold;
}

.linkButtonGoogle {
    font-family: 'Product Sans Light';
    padding-left: 2px;
}

.appleLogo {
    width: 5%;
    margin-right: 7px;
}

.googleLogo {
    width: 7%;
    margin-right: 7px;
}


.hrDiv {
    display: flex;
    margin: 0px 0 10px 0;
}

.hr {
    margin-top: 9px;
    width: 123px;
    height: 1px;
    background-color: rgba(128, 128, 128, 0.473);
}

.pOr {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 15px;
    padding: 0 10px;
    color: white;
}

.signUp {
    background-color: rgb(29, 155, 240);
    width: 300px;
    height: 40px;
    font-size: 15px;
    color: white;
    font-weight: bold;
    border-radius: 30px;
    margin-bottom: 10px;
    border: none;
    cursor: pointer;
}

.signUp:hover {
    background-color: rgb(28, 140, 214);
}

.explanationDiv {
    width: 300px;
}

.explanation {
    font-family: 'Light', sans-serif;
    font-weight: lighter;
    text-decoration: none;
    font-size: 11px;
    color: gray;
}

.exp {
    text-decoration: none;
    color: rgb(29, 155, 240);
}

.exp:hover {
    text-decoration: underline;
}

.comment {
    font-family: 'Light', sans-serif;
    font-weight: bold;
    margin-top: 60px;
    font-size: 17px;
}

.signIn {
    background-color: black;
    width: 300px;
    height: 40px;
    font-size: 15px;
    color: rgb(29, 155, 240);
    font-weight: bold;
    margin-top: 20px;
    border-width: 1px;
    border-color: gray;
    border-radius: 30px;
    border: 0.5px solid gray;
    cursor: pointer;
}

.signIn:active {
    border: 0.5px solid gray;
}

.signIn:hover {
    background-color: rgba(32, 150, 228, 0.095);
}

.footerNav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 1887px;
}

.link,
.copyright {
    color: rgb(113, 118, 123);
    font-family: 'Light', Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: none;
    font-size: 13px;
    padding-right: 17px;
    margin-bottom: -30px;
}

.link:hover {
    text-decoration: underline;
}